html,
body {
    height: 100%;
    font-family: ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1,h2,h3,h4,h5{
  font-family: ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:gray;
  font-weight: lighter;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0px 0px 3px #e2e2e2;
    min-height: 15% !important;
}
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
#welcome {
    background-color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-top: 10%;
    z-index: 9999;
}
.welcome-msg{
  top: 55%;
position: fixed;
}
.interactive-box{
    text-align: center;
    overflow: hidden;
    transition: border .5s;
    border: 1px solid white;
}
.interactive-box:hover{
    border: 1px solid #e1e1e1;
}
.interactive-box p{
    position:absolute;
    transition: opacity .5s;
    background-color: whitesmoke;
    opacity: 0;
    padding: 30px;
    bottom: 4px;
    width: 93%;
}
.interactive-box:hover p{
    opacity: 1;
}
.sep {
    text-align: center;
    margin: 5%;
}
